p {
  font-family: Lato;
}

.lblVal {
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
  text-transform: capitalize;
   width: 100px;
}

.blockContainer {
  display: block;
}

.mgnLeft5 {
  margin-left: 5px;
  width: 65px;
}

.mgnLeft15 {
  margin-left: 15px;
}

mat-grid-tile {
  background: lightblue;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/