
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

<!--
<h2>Products</h2>
<div *ngFor="let security of securities">
	<h3>
		{{ security.ticker }} {{ security.name }}
	</h3>
</div>
-->
<div class="container" class="blockContainer">
	<form (ngSubmit)="submit()" class="blockContainer">
		<div>
			<label for="endmonth" class="end-month" width="160px">End Month</label>
			<select name="endmonth" class="form-control mgnLeft5 wid-90">
         <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>December</option>
      </select>
		</div>
	</form>
	<form (ngSubmit)="submit()">
		<div>
			<label for="endyear" class="end-year">End Year</label>
			<select name="endyear" class="form-control mgnLeft5">
         <option>2020</option>
        <option>2019</option>
        <option>2018</option>
      </select>
		</div>
	</form>

	<form (ngSubmit)="submit()">
		<div>
			<label for="horizon" class="lblVal">Horizon</label>
			<select name="horizon" class="form-control mgnLeft5 wid-70">
         <option>1 year</option>
        <option>3 years</option>
        <option>5 years</option>
      </select>
		</div>
	</form>

</div>

<div>
	<table id='portData' mat-table [dataSource]="dataSource2" #mytable>
		<ng-container matColumnDef="actions">
			<mat-header-cell class='del-button-width' *matHeaderCellDef></mat-header-cell>
			<mat-cell *matCellDef="let row" class='color-white'>
				<div *ngIf='row.position>1'>
					<button
          class="delete-button"
          mat-flat-button
          (click)="this.deleteRow(row.position)"
          color='white'>
          Delete
        </button>
				</div>
				<div *ngIf='row.position==1'>
					<button
          class="add-button"
          mat-flat-button
          color='white'
          (click)="openModal('custom-modal-1')">
          Insert
        </button>
				</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="position">
			<th class='position-width' mat-header-cell *matHeaderCellDef>No.</th>
			<td mat-cell *matCellDef="let element">{{element.position}}</td>
		</ng-container>

		<!-- Ticker Column -->
		<ng-container matColumnDef="ticker" class='ticker-width'>
			<th mat-header-cell class='ticker-width' *matHeaderCellDef>Ticker</th>
			<td mat-cell class='ticker-width' *matCellDef="let element">{{element.ticker}}</td>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="weight">
			<th mat-header-cell class='weight-width th-right' *matHeaderCellDef>Weight</th>
			<td  mat-cell class='td-right' *matCellDef="let element">{{formatDec1(element.position == 1 ? 100*this.calcWeight() : 100 * element.weight)
      }}</td>
    		</ng-container>

		<ng-container matColumnDef="pctg">
			<th mat-header-cell class='pctg-width' *matHeaderCellDef></th>
			<td mat-cell class='pctg-width' *matCellDef="let element">{{element.pctg}}</td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="totrtn">
			<th mat-header-cell class='totrtn-width th-right' *matHeaderCellDef>TotRtn</th>
			<td mat-cell class='td-right' *matCellDef="let element">{{formatDec2(element.totrtn)}}</td>
		</ng-container>

		<!--Annual Return Column -->
		<ng-container matColumnDef="annrtn">
			<th mat-header-cell class='totrtn-width th-right' *matHeaderCellDef>AnnRtn</th>
			<td mat-cell class='td-right' *matCellDef="let element">{{formatDec2(element.annrtn)}}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>

<jw-modal id="custom-modal-1">
	<div class="container" class="blockContainer">
		<form (ngSubmit)="submit()" class="blockContainer">
			<div>
				<label for="securityType" class="lblVal" width="140px">Security Type:</label>
				<select name="securityType" class="form-control mgnLeft5">
         <option>Equity</option>
        <option>ETF</option>
      </select>
			</div>
		</form>
		<form (ngSubmit)="submit()">
			<div>
				<label for="locale" class="lblVal">Locale:</label>
				<select name="locale" class="form-control mgnLeft5">
        <option>US</option>
        <option>Asia</option>
        <option>Europe</option>
        <option>Australia</option>
        <option>NorthAmerica</option>
      </select>
			</div>
		</form>

		<form (ngSubmit)="submit()">
			<div>
				<label for="securityName" class="lblVal">Security Name:</label>
				<select class="form-control mgnLeft5">
        <option *ngFor="let security of securities" [ngValue]="security.ticker">
          {{security.ticker}}</option
        >
      </select>
			</div>
		</form>
	</div>

	<button (click)="closeModal('custom-modal-1');" margin-right='20px' (click)=
  'addRow(securityType)'>Add</button>
	<button (click)="closeModal('custom-modal-1');">Cancel</button>
</jw-modal>